# ================ progTester defaults ================
# move this file to ~/.progtester/progtester.config

# default test data directory
TESTDATA_DIR=testdata

# quiet mode default: 0 for verbose mode, 1 for quiet mode
QUIET_MODE=0

# default wrong output data directory: 0 for none
WRONGOUT_DIR=0

# default timeout for kill-after (in seconds): 0 for none [kill program after spending this much time on a single input]
TIMEOUT=0

# default compiler output: if set outside /tmp/progtester, it will not be removed after progTester finishes 
OUTPUT='/tmp/progtester/tester'

# unsorted-output default [output lines can be in any order]
UNSORTED_OUTPUT=0

# clock default [display runtime for each input file]
CLOCK=0


# factory defaults available at https://github.com/ProkopHanzl/progTester/blob/master/progtester.config
